/dist
/node_modules
/build
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store
Thumbs.db
/coverage
/.nyc_output
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variables file
.env

# temp directories
.tmp
.temp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Generated reports
/reports/*.pdf
/generated-reports/

# Database
*.sqlite
*.db

# TypeScript cache
*.tsbuildinfo