services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: glycemic_map_api
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    env_file:
    - .env
    depends_on:
      - db
    restart: unless-stopped
  
  db:
    image: postgres:latest
    container_name: glycemic_map_database
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./src/db/migrations/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: